<html>
  <head>
    <title>Consent Form</title>
  </head>
  <body>
    <div class="consent">
      <div class="consent-title">
        <h1>Random stuff blah blah blah</h1>
      </div>
      <div class="consent-body">
        Agree to this and that...
      </div>
      <div class="consent-confirm">
        <input type="button" class="consent-button-primary" value="I Agree" onClick="{{ url amt-image-poll assignmentId hitId }}">
        <input type="button" class="consent-button-cancel" value="Disagree" onClick="window.close()">
      </div>
    </div>
  </body>
</html>
